@import "../../../styles/constants.css";

.articles-list {
  margin: 0 auto;
  text-align: center;
}

.articles-list i {
  font-size: 18px;
  margin-left: 10px;
}

.articles-list i:hover {
  color: var(--clr-gold);
}

.articles-list-title-wrapper {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.articles-list-title {
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin-bottom: 34px;
}

.article-list-content-text {
  font-size: 33px;
  font-weight: 300;
  line-height: 1.9;
  margin-bottom: 120px;
}

.articles-list-categories-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.articles-list-blog-title {
  position: relative;
}

.articles-list-blog-title input {
  border: 1px solid var(--clr-gold);
  width: 500px;
  margin-left: 10px;
}

.articles-list-categories {
  margin-right: 10px;
}

.articles-list-categories-drop-down-btn {
  border: unset;
  background-color: unset;
  font-size: 34px;
  font-family: "Cormorant Garamond", serif;
  color: var(--clr-black);
  text-transform: uppercase;
  letter-spacing: 1.7px;
  transition: all 200ms ease-in-out;
  position: relative;
}

.articles-list-categories-drop-down-btn:hover {
  cursor: pointer;
  color: var(--clr-gold);
  font-weight: 600;
}

.articles-list-categories-drop-down-btn i {
  position: absolute;
  top: 14px;
}

.articles-list-categories-drop-down-ul {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(223, 223, 223, 0.3);
  box-shadow: 5px 5px 20px 5px rgba(223, 223, 223, 0.3);
  max-width: 320px;
}

.articles-list-categories-drop-down-li {
  transition: all 200ms ease-in-out;
  font-size: 26px;
  padding: 10px;
}

.articles-list-categories-drop-down-li:hover {
  color: var(--clr-gold);
  cursor: pointer;
  font-weight: 600;
}

.articles-list-blog {
  width: 1600px;
  margin: 0 auto;
}

.articles-list-empty {
  font-size: 50px;
  font-weight: 600;
  color: var(--clr-gold);
  margin-bottom: 200px;
}
