@import "./styles/constants.css";
@import "./styles/animations.css";
@import "./styles/headings.css";
@import "./styles/buttons-links.css";
@import "./styles/forms.css";
@import "./styles/icons.css";
@import "./styles/images.css";
@import "./styles/errors.css";
@import "./styles/sections.css";
@import "./styles/navigation.css";
@import "./styles/empty-lists.css";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
  max-width: 1920px;
  margin: 0 auto !important;
  font-family: var(--font-family);
  color: var(--clr-black);
  line-height: 1.5;
}
