/* TODO Check for the other forms */

.login-title-wrapper {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}

.login-title {
  font-size: 60px;
  margin-bottom: 20px;
}

.login-content {
  font-size: 22px;
}

.login-content-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-img {
  max-width: 30%;
  max-height: 50%;
  object-fit: cover;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.06);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.06);
}
