/* TODO Check for the other forms */

.login-content {
  font-size: 22px;
}

.login-content-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-img {
  max-width: 30%;
  max-height: 50%;
}
