@import "../../../styles/constants.css";

.articles-all-category-drop-down-btn {
  border: unset;
  background-color: unset;
  font-size: 34px;
  font-family: var(--font-family);
  color: var(--clr-black);
  text-transform: uppercase;
  letter-spacing: 1.7px;
  transition: all 200ms ease-in-out;
  position: relative;
}

.articles-all-category-drop-down-btn:hover {
  cursor: pointer;
  color: var(--clr-gold);
  font-weight: 600;
}

.articles-all-category-drop-down-btn i {
  position: absolute;
  top: 14px;
}

.articles-all-category-drop-down-ul {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(223, 223, 223, 0.3);
  box-shadow: 5px 5px 20px 5px rgba(223, 223, 223, 0.3);
  max-width: 320px;
}

.articles-all-category-drop-down-li {
  transition: all 200ms ease-in-out;
  font-size: 26px;
  padding: 10px;
}

.articles-all-category-drop-down-li:hover {
  color: var(--clr-gold);
  cursor: pointer;
  font-weight: 600;
}
