.register-content {
  font-size: 22px;
}

.register-content-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.register-img {
  max-width: 30%;
  max-height: 50%;
}
