.home {
  margin-bottom: 160px;
}

.home-content-wrapper {
  text-align: center;
}

.home-title {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.home-content {
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-bottom: 40px;
}
