.checklist-all-main-content-wrapper {
  padding-top: 40px;
  text-align: left;
  margin-left: 400px;
  margin-right: 400px;
}

.checklist-all-timespan-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checklist-all-timespan {
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 20px;
}

.checklist-all-line {
  margin-bottom: 60px;
}

.checklist-all-empty-tasks {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: var(--clr-gold);
  background-color: var(--clr-creme);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  padding: 12px 20px;
  margin-bottom: 20px;
}

.checklist-all-end-content {
  color: var(--clr-gold);
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
