.checklist-all-current-task-subtasks-wrapper {
  margin-top: 20px;
}

.checklist-all-current-task-subtasks-title {
  color: var(--clr-black);
  font-size: 22px;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-left: 90px;
  margin-bottom: 10px;
}

.checklist-all-current-task-subtasks-form-wrapper {
  margin-bottom: 20px;
}

.checklist-all-empty-subtasks {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: var(--clr-gold);
  padding-left: 20px;
  margin-bottom: 20px;
}

.checklist-all-current-task-subtasks-form-icon-wrapper {
  font-size: 18px;
  text-align: right;
  margin-top: 30px;
}

@media screen and (max-width: 800px) {
  .checklist-all-current-task-subtasks-title,
  .checklist-all-empty-subtasks {
    font-size: 20px;
  }
}
