.article-details-title {
  color: var(--clr-black);
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 1.9px;
  text-align: center;
  margin-bottom: 160px;
  position: relative;
}

.article-details-title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translateX(-50%);
  border-bottom: 2px solid var(--clr-gold);
  width: 220px;
}

.article-details-main-content-wrapper {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.article-details-image {
  max-width: 600px;
  height: 900px;
  margin-bottom: 20px;
}

.article-details-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
  padding-left: 50px;
}

.article-details-ul .article-details-li:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-details-ul .article-details-li:first-of-type img {
  margin-right: 12px;
  border-radius: 100%;
}

.article-details-ul .article-details-li:nth-child(3) i {
  margin-left: 10px;
}

.article-details-ul .article-details-li:last-of-type i:first-of-type {
  margin-right: 20px;
}

.article-details-ul img {
  width: 36px;
  height: 36px;
}

.article-details-li {
  color: var(--clr-gold);
  font-weight: 500;
  margin-bottom: 12px;
}

.article-details-li-span {
  margin-right: 12px;
  color: var(--clr-black);
}

.article-details-content {
  max-width: 900px;
  font-size: 26px;
  letter-spacing: 0.5px;
  text-align: left;
}

.article-details-bold-content {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 16px;
}

.article-details-content-text {
  margin-bottom: 35px;
}

.article-details-btn-wrapper {
  text-align: right;
  margin: 80px 150px 80px 0px;
}

@media screen and (max-width: 1800px) {
  .article-details-main-content-wrapper {
    padding-right: 30px;
    padding-left: 30px;
    gap: 100px;
  }
}

@media screen and (max-width: 1300px) {
  .article-details-main-content-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .article-details-image {
    width: 100%;
  }

  .article-details-ul {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    padding-left: unset;
  }
}

@media screen and (max-width: 1000px) {
  .article-details-content {
    max-width: 600px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .article-details-content {
    font-size: 22px;
  }

  .article-details-bold-content {
    font-size: 24px;
  }

  .article-details-btn-wrapper {
    text-align: center;
    margin: 40px auto 80px auto;
  }
}

@media screen and (max-width: 650px) {
  .article-details-ul {
    flex-direction: column;
    gap: 5px;
  }
}
