.create-category-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-category-form {
  width: 80%;
  margin-bottom: 200px;
}

.create-article-btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.create-article-btns-wrapper button {
  margin-left: unset;
  margin-right: unset;
}
