@import "../../styles/constants.css";

.footer {
  height: 10vh;
  margin-top: 6px;
  margin-bottom: 6px;
}

.footer-nav .footer-nav-ul:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-nav {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.footer-nav-li a {
  font-size: 18px;
  letter-spacing: 0.2px;
  transition: all 200ms ease-in-out;
}

.footer-nav-li a:hover {
  color: var(--clr-gold);
  font-weight: 800;
}

.footer .logo a {
  font-size: 26px;
}
