.last-three-articles-current-article-wrapper {
  text-align: center;
}

.last-three-articles-current-article-image {
  width: 600px;
  height: 800px;
  margin-bottom: 30px;
}

.last-three-articles-current-article-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.last-three-articles-current-article-short-content {
  font-size: 24px;
  margin-bottom: 80px;
}
