@import "../../../styles/constants.css";

.notes-all {
  background-color: var(--clr-light-creme);
  padding-bottom: 40px;
  min-height: 80vh;
}

.notes-all-main-content-wrapper {
  padding-top: 40px;
}

.notes-all-empty {
  border-bottom: 1px solid var(--clr-gold);
  margin-left: 700px;
  margin-right: 700px;
  padding-bottom: 20px;
}

/* form icon*/
.note-form-icon {
  margin-right: 200px;
  text-align: right;
  font-size: 18px;
}

.note-form-icon i {
  color: var(--clr-gold);
  font-size: 20px;
  font-weight: 700;
  margin-right: 12px;
}

/* form */
.note-content-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note-form {
  width: 24%;
}

.note-btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.note-btns-wrapper button {
  margin-left: unset;
  margin-right: unset;
}
