.not-found {
  background-color: var(--clr-creme);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 80vh;
}

.not-found-main-title {
  font-size: 400px;
  margin-bottom: 10px;
}

.not-found-sub-title {
  font-size: 80px;
  margin-bottom: 50px;
}

.not-found-content {
  font-size: 30px;
  margin-bottom: 80px;
}
