@import "../../../styles/constants.css";

.pagination-warpper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.pagination {
  border: unset;
  background-color: unset;
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--clr-black);
}

.pagination:hover {
  cursor: pointer;
  font-weight: 600;
  color: var(--clr-gold);
  transition: all 500ms ease-in-out;
}
