.checklist-all-main-content-wrapper {
  padding-top: 40px;
  text-align: left;
  margin-left: 400px;
  margin-right: 400px;
}

.checklist-all-timespan-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checklist-all-timespan {
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 20px;
}

.checklist-all-line {
  margin-bottom: 60px;
}

/* single */

.checklist-all-current-task-wrapper {
  font-size: 26px;
  text-transform: capitalize;
  background-color: var(--clr-creme);
  padding: 12px 26px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  margin-bottom: 30px;
}

.checklist-all-current-task-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--clr-grey);
  margin-bottom: 15px;
}

.checklist-all-current-task-header-title {
  color: var(--clr-grey);
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  display: flex;
  gap: 20px;
}

.checklist-all-current-task-header-title span i {
  font-size: 20px;
}

.checklist-all-current-task-header-title span i:first-of-type {
  margin-right: 8px;
}

.checklist-all-current-task-header-content-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.checklist-all-current-task-header-content-progress-wrapper {
  font-weight: 900;
  color: var(--clr-black);
}

.checklist-all-current-task-delimiter {
  margin-left: 4px;
  margin-right: 4px;
}

.checklist-all-current-task-header-content-icon-wrapper {
  font-size: 16px;
  position: relative;
}

.checklist-all-current-task-header-content-icon-wrapper i {
  position: absolute;
  top: -5px;
  right: -3px;
}

.checklist-all-current-task-info-desc {
  font-size: 20px;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 1.2;
  color: var(--clr-gold);
  margin-bottom: 40px;
}

.checklist-all-current-task-subtasks-title {
  color: var(--clr-black);
  font-size: 22px;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-left: 90px;
  margin-bottom: 10px;
}

.checklist-all-current-task-subtasks-wrapper {
  margin-top: 20px;
}

.checklist-all-current-task-current-subtask {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px 20px;
}

.checklist-all-current-task-current-subtask-heightlight {
  background-color: var(--clr-light-creme);
}

.checklist-all-current-task-current-subtask-heightlight
  .checklist-all-current-task-current-subtask-description {
  text-decoration: line-through;
}

.checklist-all-current-task-current-subtask i {
  font-weight: 400;
  color: var(--clr-gold);
}

.checklist-all-current-task-current-subtask-description {
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: var(--clr-grey);
}

.checklist-all-empty {
  font-weight: 600;
  color: var(--clr-gold);
  text-align: center;
  margin-bottom: 20px;
}

.checklist-all-empty-sub-tasks {
  font-size: 22px;
  padding-left: 20px;
}

.checklist-all-empty-tasks {
  font-size: 26px;
  background-color: var(--clr-creme);
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

.checklist-all-end-content {
  color: var(--clr-gold);
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
