.dashboard-content-wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.dashboard-li {
  margin-bottom: 50px;
}

.title-li {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px !important;
}

.dashboard-img {
  max-width: 30%;
  height: 700px;
}
