.note-content-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note-form {
  width: 80%;
}

.note-btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.note-btns-wrapper button {
  margin-left: unset;
  margin-right: unset;
}
