@import "../../../styles/constants.css";

.guests-all {
  background-color: var(--clr-light-creme);
  padding-bottom: 40px;
  min-height: 80vh;
}

.guests-all-main-content-wrapper {
  padding-top: 40px;
}

.guests-all-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--clr-gold);
}

.guests-all-role {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--clr-gold);
}

.guests-all-name {
  font-size: 34px;
}

.guests-all-image i {
  font-size: 26px;
  color: var(--clr-gold);
  margin-left: 15px;
}

.guests-all-image i:hover {
  cursor: unset;
}

.guests-all-info {
  font-size: 20px;
  font-weight: 600;
  color: var(--clr-gold);
}

.guests-all-info-title {
  color: var(--clr-black);
  font-weight: 700;
  margin-right: 8px;
}

/* //form */
.guests-all-create-form-icon {
  margin: 20px auto 0px auto;
  max-width: 900px;
  text-align: right;
  font-size: 18px;
}

.guests-all-create-form-icon i {
  color: var(--clr-gold);
  font-size: 20px;
  font-weight: 700;
  margin-right: 12px;
}
