.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-content {
  font-size: 70px;
  font-weight: 700;
  color: var(--clr-gold);
  text-shadow: -2px 0px 41px rgba(0, 0, 0, 0.18);
}
