.budget-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  padding-left: 300px;
  padding-right: 300px;
  margin: 60px 0px;
}

.budget-main-content-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  background-color: var(--clr-creme);
  border-radius: 8px;
}

.budget-main-current-category-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 50px;
}

.budget-main-current-category-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.budget-main-current-category-name {
  font-size: 24px;
  font-weight: 500;
}
