.budget-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  padding-left: 300px;
  padding-right: 300px;
  margin: 60px 0px;
}

.budget-main-content-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  background-color: var(--clr-creme);
  border-radius: 8px;
  padding: 22px;
}

.budget-main-current-category-wrapper {
  margin-bottom: 50px;
}

.budget-main-current-category-info-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
}

.budget-main-content-wrapper
  .budget-main-current-category-wrapper:last-of-type {
  margin-bottom: 12px;
}

.budget-main-current-category-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.budget-main-current-category-info-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.budget-main-current-category-info-name {
  font-size: 28px;
  font-weight: 700;
}

.budget-main-current-category-costs-wrapper {
  padding-left: 80px;
  padding-right: 80px;
}

.budget-main-current-category-costs-titles-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.budget-main-current-category-current-cost-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid var(--clr-gold);
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.budget-main-current-category-current-cost-title i {
  font-size: 16px;
  margin-left: 16px;
}

.budget-main-current-category-current-cost-title i:last-of-type {
  margin-left: 8px;
}

.budget-main-current-category-current-cost-price-unit {
  margin-right: 4px;
}

.budget-main-current-category-costs-empty {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: var(--clr-gold);
  border-bottom: 1px solid var(--clr-gold);
  padding-bottom: 12px;
  margin-bottom: 20px;
}
