/* Section */

.section-title-wrapper {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}

.section-title {
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.section-background {
  background-color: var(--clr-light-creme);
}

.section-planner {
  padding-bottom: 40px;
  min-height: 80vh;
}
