.budget-main-current-category-info-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
  margin-bottom: 12px;
}

.budget-main-current-category-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.budget-main-current-category-info-image {
  width: 40px;
  height: 40px;
}

.budget-main-current-category-info-name {
  font-size: 28px;
  font-weight: 700;
}

.budget-main-current-category-info-right {
  font-size: 28px;
  font-weight: 600;
}

.budget-main-current-category-info-right-unit {
  margin-left: 12px;
  margin-right: 2px;
}
